include ../blocks/index

// Assets path
- assetsPath = './'

// Head data
- siteLang = 'ru'
- siteName = 'siteName'

// Page classes
- pageHtmlClass = 'page-html'
- pageBodyClass = 'page-body'
- pageHeaderClass = 'page-header'
- pageMainClass = 'page-main'
- pageFooterClass = 'page-footer'

block variables

doctype html
html(lang=siteLang, class=pageHtmlClass)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

        link(rel='icon', type='image/png', href=assetsPath + 'static/favicon.ico')

        title #{pageTitle} - #{siteName}
        meta(name='description', content=pageDescription)
        meta(name='keywords', content=pageKeywords)


    body(class=pageBodyClass)
        block page-header
            +page-header()

        block content

        block page-footer
            +page-footer()

    block scripts
